body {
    background-color: #0000ff;
}
div {
    height:150px;
    margin:10px;
    background-image: url('../images/img1.jpg');
}
#d1 {
    background-repeat: no-repeat;
}
#d2 {
    background-repeat: no-repeat;
    background-position: 150px 50px;
}
